<!--<div id="chat">-->
<!--    <h3 class="chat-title">Chat</h3>-->

<!--    <article class="message chat">-->
<!--        <div id="chat-content">-->
<!--            <div class="body">-->
<!--                <div id="log"></div>-->
<!--            </div>-->

<!--            <form id="form" class="chat-form" autocomplete="off">-->
<!--                <input class="input chat-input" id="msg" type="text" placeholder="type message..." />-->
<!--            </form>-->
<!--        </div>-->
<!--    </article>-->
<!--</div>-->